<p id="notice"><%= notice %></p>
<h1>Artists info</h1>
<p>
  <strong>Last name:</strong>
  <%= @artist.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @artist.first_name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @artist.country %>
</p>
<br>
<p><strong>Songs from Artist</strong></p>
<% @artist.songs.each do |song| %><p>
<%= song.title %>
<% end %></p>

<br>
<%= link_to 'Home', root_path %> |
<%= link_to 'Back', artists_path %> |
<%= link_to "Edit", edit_artist_path( @artist.id ) %> |
<%= link_to "Delete", artist_path( @artist.id ), method: :delete, data: { confirm: "Are you sure?" } %>
