<%= form_for @song do |f| %>

<div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
<div class="field">
    <%= f.label :genre %>
    <%= f.text_field :genre %>
    </div>
<div class="field">
    <%= f.label :duration %>
    <%= f.number_field :duration %>
    </div>
    <div class="field">
    <%= f.label :poster %><br>
    <%= f.file_field :avatar %>
    </div>



    <div class="well">
        <h3>Artist</h3>
        <%= f.fields_for(:artist) do |a| %>
          <div class="form-group">
            <%= a.label :first_name %>
            <%= a.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= a.label :last_name %>
            <%= a.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= a.label :country %>
            <%= a.select :country, %w(UK US), prompt: true, class: 'form-control' %>
          </div>
        <% end %>
      </div>








    <%= f.submit (@song.new_record? ? "Create" : "Update") %>

<% end %>
